<h1>New User</h1>

<form action="/users" method="post" role="form">
  <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
  <p>
    <label for="email">Email</label>
    <input id="email" type="email" name="email" placeholder="Enter email">
  </p>
  <p>
    <label for="name">Name</label>
    <input id="name" type="text" name="name" placeholder="Enter name">
  </p>
  <p>
    <label for="password">Password</label>
    <input id="password" type="password" name="password" placeholder="Enter password">
  </p>
  <p>
    <label for="password confirmation">Password Confirmation</label>
    <input id="password confirmation" type="password" name="password confirmation" placeholder="ReEnter password">
  </p>
  <button type="submit">Add User</button>
</form>
